<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
        th, td {
            padding: 10px;
            border: 1px solid #666;
        }
    </style>
</head>
<body>
    <h1>{{ title }}</h1>
    <table style="width:80%; margin:30px auto; border-collapse:collapse;">
        <thead>
            <tr style="background-color:#1c87c9; color:#fff;">
                {% for header in table_headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table_data %}
                <tr style="background-color:lightgrey;">
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
